<footer>
    <nav class="site-footer">

        <ul class="list-horizontal">
            {#                <li class="list-item foot-button center">#}
            {#                    <h5>Connect with me on:</h5>#}
            {#                </li>#}
            <li class="list-item">
                <a href="https://www.facebook.com/dimitar.kanchev">
                    <button class="foot-button">
                        <i class="fab fa-facebook facebook"></i>
                    </button>
                </a>
            </li>
            <li class="list-item">
                <a href="https://www.youtube.com/channel/UCcI3ISPTiOLcuWw5DeDKR4w">
                    <button class="foot-button youtube">
                        <i class="fab fa-youtube"></i>
                    </button>
                </a>
            </li>
            {#                <li class="list-item">#}
            {#                    <a href="#">#}
            {#                        <button class="foot-button linkedin">#}
            {#                            <i class="fab fa-linkedin"></i>#}
            {#                        </button>#}
            {#                    </a>#}
            {#                </li>#}
            <li class="list-item">
                <a href="http://127.0.0.1:8000/contacts/">
                    <button class="foot-button email">
                        <i class="fas fa-envelope"></i>
                    </button>
                </a>
            </li>
        </ul>
        <a class="clean" href="https://github.com/Ivaylo-Atanasov93">
            <p class="signature"><i class="far fa-copyright"></i>2021 Ivaylo Atanasov</p>
        </a>
    </nav>
</footer>