.style {
    text-align: left;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 20px;

    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.symbol {
    color: #ffd11a;
}

.underline {
    border-bottom-color: #ffd11a;
    margin-bottom: 30px;
}

.container {
    max-width: 80%;
    display: grid;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;

    margin: 5%;

    grid-template-columns: 70% 30%;
    grid-template-areas: 'left right';
    grid-gap: 10px;
}

.list-left {
    grid-area: left;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: 40px;
    margin-bottom: 40px;
}

.list-right {
    grid-area: right;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.summary {
    margin-top: 60px;
}


