.img-in-detail {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    width: 75%;

    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    color: white;
    margin: 40px;
    display: block;
}

.back-button{
    padding: 10px;
    margin-top: 30px;
    font-size: 25px;
    background-color: #ffd11a;
    border-style: none;
    color: #2c1b04;
    border-radius: 15px;
}

.back-button:hover {
    background-color: #997a00;
    transition: .3s ease all;
    transform: scale3d(1.1, 1.2, 1);
}