html{
    height: 100%;
}

body {
    background: url("/static/css/backgrounds/2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 20px;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
}

.site-nav {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 15px;
}

.site-footer {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 15px;
    height: 150px;
}

.list-horizontal .list-item {
    display: inline-block;
}


.nav-button {
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    background-color: #ffd11a;
    border-style: none;
    color: #2c1b04;
    border-radius: 15px;
}

.nav-button:hover {
    background-color: #997a00;
    transition: .3s ease all;
    transform: scale3d(1.1, 1.2, 1);
}

.booking-button{
    float: right;
    margin-right: 50px;
}

.center{
    margin-left: 20%;
}

.foot-button {
    background-color: transparent;
    border-style: none;
    font-size: 40px;
    margin-right: 100px;
}

.facebook {
    color: #3b5998;
}

.youtube {
    color: #FF0000;
}

.linkedin {
    color: #0e76a8;
}

.email {
    color: white;
}

.signature, .clean{
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

