.list-horizontal-pictures {
    text-align: center;
}

.list-item-picture {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    width: 25%;

    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    margin: 40px;
    display: inline-block;
}

.picture-details {
    padding: 20px;
    color: white;
}

.message {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 20px;
    color: white;
    width: 800px;

    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
}
