{% extends 'shared/site.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/biography.css' %}">
{% endblock %}

{% block site_title %}
    Biography
{% endblock %}
{% block site_content %}
    <center>
        {% if object_list %}
            <ul>
                {% for element in object_list %}
                    <div class="container">
                        <ul class="list-left">
                            <li class="style name">
                                <h1>{{ element.name }}</h1>
                            </li>
                            <li class="style">
                                <h4>{{ element.specialization }}</h4>
                            </li>
                            <li class="style summary">
{#                                <h3 class="underline"><strong>Summary</strong></h3>#}
                                <br>
                                {{ element.summary }}
                            </li>
                            <li class="style">
                                <h3 class="underline"><strong>Education</strong></h3>
                                <ul>
                                    {% for education in element.education_set.all %}
                                        <h5><strong>|{{ education.start_date }} - {{ education.end_date }}</strong></h5>
                                        <h5>{{ education.name_of_institution }}</h5>
                                        <br>
                                        <h6><strong>Speciality:</strong> {{ education.speciality }}</h6>
                                        <p><strong>Covered subjects:</strong> {{ education.covered_subjects }}</p>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="style">
                                <h3 class="underline"><strong>Personal Experience</strong></h3>
                                <ul>
                                    {% for experience in element.personalexperience_set.all %}
                                        <h5><strong>|{{ experience.topic_name }}</strong></h5>
                                        <br>
                                        <p>{{ experience.topic_summary }}</p>
                                        <p><i class="fas fa-map-marker-alt symbol"></i> - {{ experience.location }}</p>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="style">
                                <h3 class="underline"><strong>Working experience</strong></h3>
                                <ul>
                                    {% for experience in element.workexperience_set.all %}
                                        <h5><strong>|{{ experience.start_date }} - {{ experience.end_date }}</strong></h5>
                                        <br>
                                        <h5>{{ experience.name_of_institution }}</h5>
                                        <h6><strong>Position:</strong> {{ experience.position }}</h6>
                                        <p><strong>Work description:</strong> {{ experience.position_summary }}</p>
                                        <p>{{ experience.responsibilities }}</p>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="style">
                                <h3 class="underline"><strong>Personal Achievements</strong></h3>
                                <ul>
                                    {% for accomplishment in element.achievements_set.all %}
                                        <li>
                                            <p><i class="fas fa-bolt symbol"></i> {{ accomplishment.accomplishment }}
                                            </p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                        {# END OF LEFT #}
                        <ul class="list-right">
                            <li class="style">
                                <img class="picture" src="{{ element.picture_url }}" alt="Image of {{ element.name }}">
                            </li>
                            <li class="style">
                                <h3 class="underline"><strong>Contacts</strong></h3>
                                <p><i class="fas fa-map-marker-alt symbol"></i> - {{ element.address }}</p>
                                <p><i class="fas fa-mobile-alt symbol"></i> - {{ element.number }}</p>
                                <p><i class="far fa-envelope symbol"></i> - {{ element.email }}</p>
                                <p><i class="fas fa-passport symbol"></i> - {{ element.nationality }}</p>
                                <p><i class="fas fa-birthday-cake symbol"></i> - {{ element.date_of_birth }}</p>
                                <p><i class="fas fa-venus-mars symbol"></i> - {{ element.gender }}</p>
                            </li>
                            <li class="style">
                                <h3 class="underline"><strong>Languages</strong></h3>
                                <ul>
                                    {% for language in element.languages_set.all %}
                                        <li>
                                            <p><i class="fas fa-globe-americas"></i> {{ language.language }}
                                                - {{ language.fluency }}
                                            </p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="style">
                                <h3 class="underline"><strong>Passions</strong></h3>
                                <ul>
                                    {% for passion in element.passions_set.all %}
                                        <li>
                                            <p><i class="fas fa-rocket symbol"></i> - {{ passion.passion }}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            </ul>
        {% else %}
            <center>
                <div class="style">
                    <h1>
                        <i class="fas fa-info-circle" style="color: #ffd11a"></i> There is no uploaded Biography yet.
                    </h1>
                </div>
            </center>
        {% endif %}
    </center>
{% endblock %}