{% extends 'shared/site.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/my_story.css' %}">
{% endblock %}

{% block site_title %}
    My Story
{% endblock %}
{% block site_content %}
    <section class="u-black u-clearfix u-section-1" id="sec-dce1">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-col">
                        <div class="u-size-20">
                            <div class="u-layout-row">
                                <div class="u-black u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                                    <div class="u-container-layout u-container-layout-1">
                                        <div class="u-border-4 u-border-palette-3-base u-line u-line-horizontal u-line-1"></div>
                                        <h2 class="u-text u-text-default-lg u-text-default-md u-text-default-xl u-text-palette-3-base u-text-1">
                                            {{ object_list.0.summary_title }}</h2>
                                        <p class="u-text u-text-2"> {{ object_list.0.summary }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-40">
                            <div class="u-layout-row">
                                <div class="u-size-41-sm u-size-41-xs u-size-42-lg u-size-42-xl u-size-60-md">
                                    <div class="u-layout-col">
                                        <div class="u-size-30">
                                            <div class="u-layout-row">
                                                <div class="u-black u-container-style u-layout-cell u-size-24 u-layout-cell-2">
                                                    <div class="u-container-layout u-container-layout-2">
                                                        <h3 class="u-text u-text-palette-3-base u-text-3">{{ object_list.0.academic_achievements_title }}</h3>
                                                        <div class="u-border-4 u-border-palette-3-base u-line u-line-horizontal u-line-2"></div>
                                                        <img class="u-image u-image-default u-image-1"
                                                             src="{% static 'images/3.jpg' %}" alt=""
                                                             data-image-width="1152" data-image-height="1324">
                                                        <p class="u-text u-text-4">
                                                            <br>
                                                            <br><i></i>&nbsp;{{ object_list.0.academic_achievements }}<br>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="u-container-style u-image u-layout-cell u-size-36 u-image-2"
                                                     data-image-width="1125" data-image-height="1600">
                                                    <div class="u-container-layout u-container-layout-3"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="u-size-30">
                                            <div class="u-layout-row">
                                                <div class="u-black u-container-style u-layout-cell u-size-60 u-layout-cell-4">
                                                    <div class="u-container-layout u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xs u-container-layout-4">
                                                        <h3 class="u-text u-text-palette-3-base u-text-5">{{ object_list.0.final_thoughts_title }}<br>
                                                        </h3>
                                                        <div class="u-border-4 u-border-palette-3-base u-line u-line-horizontal u-line-3"></div>
                                                        <p class="u-text u-text-6">{{ object_list.0.final_thoughts }}<br>
                                                        </p>
                                                        <img class="u-image u-image-default u-image-3"
                                                             src="{% static 'images/4.jpg' %}" alt=""
                                                             data-image-width="2048" data-image-height="1365">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-size-18-lg u-size-18-xl u-size-19-sm u-size-19-xs u-size-60-md">
                                    <div class="u-layout-col">
                                        <div class="u-black u-container-style u-layout-cell u-size-60 u-layout-cell-5">
                                            <div class="u-container-layout u-valign-top u-container-layout-5">
                                                <h3 class="u-text u-text-palette-3-base u-text-7">{{ object_list.0.childhood_title }}<br>
                                                </h3>
                                                <div class="u-border-4 u-border-palette-3-base u-line u-line-horizontal u-line-4"></div>
                                                <p class="u-text u-text-8">{{ object_list.0.childhood_1 }}</p>
                                                <img class="u-image u-image-default u-image-4"
                                                     src="{% static 'images/6.jpg' %}" alt="" data-image-width="696"
                                                     data-image-height="432">
                                                <p class="u-text u-text-9">{{ object_list.0.childhood_2 }} <br>
                                                </p>
                                                <img class="u-image u-image-default u-image-5"
                                                     src="{% static 'images/5.jpg' %}" alt="" data-image-width="628"
                                                     data-image-height="420">
                                                <p class="u-text u-text-10"> {{ object_list.0.childhood_3 }}</p>
                                                <img class="u-image u-image-default u-image-6"
                                                     src="{% static 'images/7.jpg' %}" alt="" data-image-width="357"
                                                     data-image-height="500">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}