{% extends 'shared/site.html' %}
{% load embed_video_tags %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/created_booking.css' %}">
{% endblock %}

{% block site_title %}
    Booking details
{% endblock %}
{% block site_content %}
    <center>
        <div class="appointment-block">
            <div class="title">
                <h1>You just booked a lesson!</h1>
            </div>
            <h2>
                Details
            </h2>
            <div class="booking-details">
                <p>Your initials: {{ object.name|make_list|first }}. {{ object.surname|make_list|first }}.</p>
                <p>Your lesson will be on {{ object.date }} at {{ object.time }}.</p>
                <p class="your-message">Your message to me: <br>"{{ object.message }}"</p>
            </div>
            <div class="my-message">
                This is my message to you:
                <br>Some message
            </div>
        </div>
    </center>
{% endblock %}