{% extends 'shared/site.html' %}
{% load embed_video_tags %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/created_booking.css' %}">
{% endblock %}

{% block site_title %}
    Booking details
{% endblock %}
{% block site_content %}
    <center>
        <div class="appointment-block">
            <div class="title">
                <h1>Your request has been proceed!</h1>
            </div>
            <h2>
                Details
            </h2>
            <div class="booking-details">
                <p>Your initials: {{ object.name }}.</p>
                <p>Your preferred date and time: {{ object.date }} at {{ object.time }}.</p>
                <p class="your-message">Your message to me: <br>"{{ object.message }}"</p>
            </div>
            <div class="my-message">
                <br>
                <h6>Thank you for reaching out and giving me your preferred date and time!</h6>
                <p>I look forward to read your message and contact you back to discuss the details.</p>
                <p></p>
            </div>
        </div>
    </center>
{% endblock %}