{% extends 'shared/site.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/img_detail.css' %}">
{% endblock %}

{% block site_title %}
    {{ object.title }} Image
{% endblock %}
{% block site_content %}
    <center>
    <a href="{% url 'photo_gallery' %}">
        <button class="back-button">
            Back to gallery
        </button>
    </a>
    </center>
    <center>
        <div class="img-in-detail">
            <img src="{{ object.photo_url }}" alt="image of {{ object.title }}"/>
            <div class="picture-details">
                <h1>{{ object.title }}</h1>
                <p>{{ object.description }}</p>
                <p>{{ object.date }}</p>
            </div>
        </div>
    </center>
{% endblock %}