.u-section-1 .u-sheet-1 {
  min-height: 598px;
}

.u-section-1 .u-group-1 {
  width: 539px;
  min-height: 348px;
  margin: 93px 60px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 11px;
}

.u-section-1 .u-text-1 {
  margin: 9px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 39px 0 0 93px;
}

.u-section-1 .u-shape-1 {
  height: 385px;
  width: 541px;
  margin: -305px auto 0 5px;
}

.u-section-1 .u-image-1 {
  width: 614px;
  height: 430px;
  margin: -437px auto 60px 12px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 486px;
    margin-top: 86px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    height: 305px;
    width: 446px;
    margin-top: -282px;
    margin-left: 3px;
  }

  .u-section-1 .u-image-1 {
    width: 523px;
    height: 350px;
    margin-top: -356px;
    margin-left: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-1 .u-group-1 {
    min-height: 403px;
    margin-top: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 95px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -97px;
  }

  .u-section-1 .u-image-1 {
    width: 499px;
    height: 308px;
    margin-top: -314px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-1 .u-group-1 {
    width: 456px;
    margin-top: 82px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 75px;
  }

  .u-section-1 .u-shape-1 {
    height: 261px;
    margin-top: -100px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 448px;
    height: 284px;
    margin-top: -290px;
    margin-bottom: 40px;
    margin-left: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-1 .u-group-1 {
    min-height: 392px;
    margin-top: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 70px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    height: 215px;
    margin-top: -59px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 195px;
    margin-top: -205px;
    margin-bottom: 63px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}